@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
p {
  @apply text-text-color;
}

h1 {
  font-weight: 600;
  font-size: 46px;
}

h2 {
  font-weight: 600;
  font-size: 32px;
}

/* :disabled {
  opacity: 0.5;
  cursor: not-allowed;
} */

@layer components {
  .background-dark {
    background-color: hsla(232, 40%, 3%, 1);
    background-image: radial-gradient(
        at 88% 100%,
        rgba(21, 51, 183, 0.2) 0px,
        transparent 30%
      ),
      radial-gradient(at 15% 15%, rgba(60, 67, 93, 0.2) 0px, transparent 50%);
  }
  .btn-primary {
    @apply bg-accent-color p-[10px] rounded-[12px] text-white shadow-accent-normal hover:shadow-accent-hover hover:bg-accent-color-hover duration-200 disabled:bg-[#1e212f] disabled:shadow-none cursor-pointer disabled:cursor-not-allowed;
  }
  .card {
    @apply bg-background-sec-color p-8 rounded-xl shadow-[0px_-1.6px_0px_0px_rgb(40,45,62),0px_2px_12px_1px_rgba(0,0,0,0.45)];
  }
  .card2 {
    @apply border-[#3C435D] border-solid border-[1px] rounded-[12px] bg-[rgba(15,18,36,0.40)];
  }
  .input-text {
    @apply ease-out duration-200 border-slate-500 border-solid border-[1.6px] rounded-[12px] bg-transparent h-[30px] outline-none focus:border-accent-color duration-150 caret-text-color p-6 text-text-color placeholder:text-[#3C435D];
  }
  .notif {
    @apply border-red-500 border-solid border-[1px] rounded-[12px] bg-red-700 bg-opacity-25 duration-300
  }
}
